/*#############################################
  # The following section defines the default #
  # tag appearance for all standard HTML tags #
  #############################################*/

table { margin:10px 10px 10px 10px; }
p { margin:15px 10px 15px 10px; font-size:14px; padding:0px; }
p.delim { margin:15px 10px 6px 10px; font-size:14px; padding:0px; }
ul { font-size:14px; list-style: disc outside; }
ol { font-size:14px; list-style-type: decimal; margin: 1px 5% 15px 5px; text-indent: 0px; }
ol.sub { font-size:14px; margin: 0px 0px 1px 0px; list-style-type: lower-alpha; }
li { margin: 0px 0px 1px 0px; }
li.sub { margin: 0px 0px 1px 0px; }
dt { margin:3px 10px 3px 10px; text-align:left; vertical-align:top; font-size:14px; }
dd { text-align:left; vertical-align:top; font-size:14px; }
td { text-align:left; vertical-align:top; font-size:14px; }
th { text-align:center; vertical-align:top; }
a  { text-decoration:none; font-weight:800; color:#593; }
div   { }
span  { }
body.Top {	font-family:times,verdana,arial,helvetica,sans-serif; margin: 0; padding: 0; border: 0;
	background-color: #e5e5e5; background-image:url('images/quad.jpg'); background-repeat:no-repeat; background-position: center top; }
body.NoTop { font-family:times,verdana,arial,helvetica,sans-serif; margin: 0; padding: 0; border: 0;background-color: #e5e5e5; }
pre { font-size:12px; margin: 25px; text-indent: 0 }

.Main { background:#fff; padding:0px; margin: 100px; width:798px; text-align:left; border: 1px solid black; margin-left: auto; margin-right:auto; }
.MainNoTop { background:#fff; padding:0px; margin: 0px; width:798px; text-align:left; border: 1px solid black; margin-left: auto; margin-right:auto; }
.Content { padding:10px 20px 20px; }
.Title { font-size:32px; font-weight:800; color:#666; }
.ol { text-decoration: overline; }

td.CourseInst { font-size:20px; font-weight:800; }
td.Compact { font-size:12px; }
td.CompactC { font-size:12px; text-align:center }

dd.ReadingList { padding-bottom: 10px; }

ul.Objectives { list-style: circle inside; }

/*#############################################
  # Tan section bar with gray lettering       #
  #############################################*/
.Section {
	background:#cc9;	text-align:center;	padding-top:4px;
	font-weight:800;	color:#455;		font-size:16px;		height:24px;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
}
.Subsection {
	font-size:14px;		font-weight:800;
}

/*#############################################
  # Purple menu bar with orange links         #
  #   purple is #450084                       #
  #   orange is #c2a14d                       #
  #############################################*/
td.Menu {
	text-align:center;	vertical-align:middle;	font-weight:800;	font-size:14px;
}
table.Menu {
	background:#450084;	padding:0px;		text-align:center;	font-weight:800;	height:32px;
	margin:0px 0px 0px 0px;
}
div.Menu {
	background:#450084;	height:32px;
}
a.Menu {
	color:#c2a14d;		text-align:center;	font-weight:800;	font-size:16px;		text-decoration:none;
	border-style: solid;	border-width: 1px;	border-color:#450084;	background:#450084;	margin-top: 40px;
	margin-bottom: 4px;	margin-right: 4px;	margin-left: 4px;	padding: 2px;
}
a.Menu:hover {
	color:#450084;		border-top-color:#f1d378;	border-left-color:#f1d378;
	background:#c2a14d;	border-bottom-color:#7c5204;	border-right-color:#7c5204;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

/*#############################################
  # Alternating table background colors       #
  #############################################*/

td.TBlue {
	background:#ded;	vertical-align:middle;	height:32px; padding-left:5px;
}

td.TBlueC {
	background:#ded;	text-align:center;	vertical-align:middle;	height:32px;
}

td.TGrey {
	background:#eeb;	vertical-align:middle;	height:32px; padding-left:5px;
}

td.TGreyC {
	background:#eeb;	text-align:center;	vertical-align:middle;	height:32px;
}

td.TOrange {
	background:#eb8;	text-align:center;	vertical-align:middle;	height:32px;
}

td.Blue {
	background:#ded;
}

td.BlueC {
	background:#ded;	text-align:center;	vertical-align:middle;
}

td.Grey {
	background:#eeb;
}

td.GreyC {
	background:#eeb;	text-align:center;	vertical-align:middle;
}

td.BlueM {
	background:#ded;	vertical-align:middle;
}

td.GreyM {
	background:#eeb;	vertical-align:middle;
}

td.Orange {
	background:#eb8;
}

td.OrangeC {
	background:#eb8;	text-align:center;	vertical-align:middle;
}

td.Small {
	font-size:8px;
}

td.Rubric {
    vertical-align: middle;     text-align: center;
}

td.RubricMetric {
    vertical-align: middle;     text-align: left;       font-size:14px;
}

td.RubricScores {
    vertical-align: middle;     text-align: center;     font-size:14px;
}

td.RubricSmall {
    vertical-align: middle;     text-align: left;       font-size:12px;
}

span.Error { color:#b33; font-weight:bold; }

/*
a.Anchor { font-weight:bold; font-size:14px; text-decoration:none; }
.ImgLink { text-decoration:none; border:none; }
a.THLink { color:#fff; text-decoration:none; padding:4px; line-height:18px; }
th.THLink { font-size:16px; text-align:center; padding:0px; vertical-align:middle; background:#aaa; }
span.LastUpdate { font-size: 14px; color:#444; }
span.Subtitle { text-align:left;  font-size:24px; font-family:arial; font-weight:100; color:#666; }
span.InnerSubtitle { text-align:left;  font-size:18px; font-family:arial; font-weight:100; color:#666; }
*/


a.jmu-cs-nav {
    /*display: none;*/
    width: 200px;
    height: 20px;
    /*text-indent: -9999px;*/
    position: fixed;
    z-index: 999;
    right: 20px;
    top: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}
a.jmu-cs-nav:hover {
    background-color: #330099;
}
ul.jmu-cs-nav {
    display:none;
    font-size: 10pt;
    width: 200px;
    position: fixed;
    z-index: 999;
    right: 20px;
    top: 50px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
    padding: 5px;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
}
ul.jmu-cs-nav li {
    padding: 0;
    text-indent: 0;
}
ul.jmu-cs-nav li a {
    display: block;
    text-decoration: none;
    color: #330099;
    margin:0;
    padding: 0.3em;
}

ul.jmu-cs-nav li a:hover {
    background-color: #fff;
}
